<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="visitor_name" placeholder="Visitor Name"/>
        <br>
        <input type="text" name="age" placeholder="Visitor Age"/>
        <br>
        <input type="text" name="email" placeholder="Visitor email"/>
        <br>
        <input type="submit" value="Add visitor"/>
    </form>
    
    <a href="visitors">View visitors</a>
</body>
</html>